header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;

}

.header_container{

    text-align: center;
    height: 100%;
    position: relative;
}

/*  cta section*/

.cta{
    margin-top:2.5rem ;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*  Headedr Social Links section*/

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left: 0;
    bottom: 1.5rem;
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* imge area*/

.meImg{

  
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  
   
}

.scroller_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform:rotate(90deg) ;
    font-weight: 500;
    font-size: 1.5rem;
}

@media screen and (max-width :1024px) {

    header{
        
            height: 68vh;

        }
    }



@media screen and (max-width :600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroller_down{
        display: none;
    }

}